
.about {
    margin-bottom: 10vh;
}


.about figure {
    margin-left: 200px;
}

.carousel-item {
    height: 95vh;
}

main {
    margin-top: 20vh;
}

.about section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blob-article {
    margin-left: -80px;
    margin-bottom: -500px;
}


.blob {
    width: 90vh;
}

.blob-img {
    margin-right: 17vw;
    margin-top: 4vw;
}
