* {
    padding: 0;
    margin: 0;
}

.body {
    width: 100%!important;
}

.navbar-toggler{
    color:  rgba(34, 139, 34, 0.55)!important;
    border-color:rgba(34, 139, 34, 0.55)!important;

}

.navbar-toggler:hover{
    color:  rgba(34, 139, 34, 0.55)!important;

}


.navbar-toggler-icon { 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(34,139,34)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}



.modal-title {
    color: rgb( 25,135,84)!important; 
}

.modal { 
    width: 300px!important;
}

.modal-content {
    width: 300px!important;
}

.list-group-item:hover {
    background-color: rgb(132, 204, 149)!important;
    cursor: pointer!important;
}


.about {
    margin-bottom: 10vh;
    overflow: hidden;
}

.about-header {
    width: 50%;
}


.about figure {
    margin-left: 200px;
}

.carousel-item {
    height: 95vh;
}

main {
    margin-top: 20vh;
}

.about section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blobSvg { 
    width: 800px;
    width: 800px;
}

.blob-article:nth-child(1n) {
    left: -80px;

    overflow: hidden;
}


.blob-article:nth-child(2n){
    transform: scale(-1);

    display: none!important;
 

}

.blob-img {
    margin-right: 17vw;
    margin-top: 4vw;
}
