
.about {
    margin-bottom: 10vh;
}


.about figure {
    margin-left: 200px;
}

.carousel-item {
    height: 95vh;
}

main {
    margin-top: 20vh;
}

.about section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blobSvg { 
    width: 800px;
    width: 800px;
}

.blob-article:nth-child(1n) {
    left: -80px;
}


.blob-article:nth-child(2n){
    transform: scale(-1);
    left: ;
 

}

.blob-img {
    margin-right: 17vw;
    margin-top: 4vw;
}
